@import "../styles/scss/variables.scss";

// Home page styling
.login-button,
.register-button {
  width: $button-width;
  height: $button-height;
  font-size: $button-font-size;
  font-weight: $font-weight;
  color: $button-font-color;
  border-radius: 25px;
  border: none;
  color: #27224a;
  cursor: pointer;
  border: 1px solid #27224a;
  background: $background-color;
  outline: none;
}

.login-button:hover,
.register-button:hover {
  cursor: pointer;
  background: #27224a;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}

.button-wrapper > div {
  padding: 1rem;
  margin: 0 auto;
}

.button-card {
  width: 35rem;
  height: 300px;
  border-radius: 10px;
  background: $background-color;
}

.register-head {
  text-align: center;
}
.register-message {
  text-align: center;
  color: #27224a;
}
