@import "../styles/scss/variables.scss";

// Hero banner
.hero-banner-container {
  display: flex;
  // height: 80vh;
}
.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 4rem;
}
.hero-banner-image {
  display: flex;
  max-width: 50%;
}

.hero-banner-intro {
  font-size: 2.5em;
  // padding: 3rem 0rem;
}
.call-to-action {
  background: rgb(166, 114, 233);
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}
.call-to-action:hover {
  cursor: pointer;
}
// Section 2
.about-app-features {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 25vh;
 
}
.bug-trackers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-height: 500px;
  height: 45vh;
  margin: 0 auto;
}

.support-message {
  width: 25rem;
}

.nav-wrap {
  padding-top: 2rem;
}

.sub-banner-image {
  width: 25%;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

   
}

.info-list li {
  background: rgb(166, 114, 233);
  width: 8rem;
  height: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin: 3rem 2.5rem;
  border-radius: 5px;
  color: white;
}
.more-app-info {
  display: flex;
}

.more-leads {
  padding: 7rem 0rem 0rem 0rem;
  width: 50rem;
  text-align: center;
}
.more-leads-wrap {
  display: flex;
  justify-content: center;
}

.underline {
  width: 5%;
  height: 0.2rem;
  background: rebeccapurple;
}

// Section 5
.bug-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.sub-heads {
  text-align: center;
}

.featured-works-image {
  width: 7%;
  margin: 2rem;
}
.featured-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .shape{
//    border-top: 100px solid tomato;
//   border-left: 0px solid transparent;
//   border-right: 170px solid transparent;
//   border-bottom: 30px solid transparent;
// }
// Footer

.footer {
  background: rgb(99, 115, 252);
  height: 40vh;
}
.footer-words {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}
.footer-words li {
  list-style-type: none;
}
.copyright {
  text-align: center;
}
