@import "../styles/scss/variables.scss";

.test {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  width: 40rem;
  height: 400px;
  border-radius: 10px;
  background: $background-color;
}
// .login-heads {
// display:flex;
// justify-content: center;
// align-content: center;

// }
.type-text {
  color: #27224a;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.page-container {
  display: flex;
  justify-content: center;
}

.option-input {
  outline: none;
  width: 15rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(82, 80, 80);

}

.logins-button {
  margin: 2rem;
  cursor: pointer;
}


.logins-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  cursor: pointer;
  background: #27224a;
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
}

.logins-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}