@import "../styles/scss/variables.scss";

.test {
  display: flex;
  justify-content: center;
  width: 25rem;
  height: 500px;
  border-radius: 6px;
  background: white;
  padding: 30px 45px;
  position: relative;
}
.type-text {
  color: #27224a;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.option-input {
  outline: none;
  width: 15rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(82, 80, 80);
}

.logins-button {
  margin: 2rem;
  cursor: pointer;
}

.logins-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  cursor: pointer;
  background: white;
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  outline: none;
  border: 1px solid #27224a;
  color: #27224a;
}

.logins-button:hover {
  cursor: pointer;
  background: #27224a;
  color: white;
}

.login-message {
  text-align: center;
  color: #575987;
  font-weight: 700;
  padding-bottom: 50px;
}

.create-reminder {
  color: #575987;
  font-size: 16px;
}
.create-reminder:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fc4463;
}
