@import "../styles/scss/variables.scss";

.register-form-wrapper {
  display: flex;
  justify-content: center;
}
.register-container {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  width: 40rem;
  height: 400px;
  border-radius: 10px;
  background: $background-color;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registers-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  cursor: pointer;
  background: #27224a;
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
}

.registers-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}
.input-text {
  padding: 0.5rem;
  width: 100%;
}
