@import "../styles/scss/variables.scss";


.register-form-wrapper{
    display: flex;
    justify-content: center;
}
.register-container {
  display: flex;
  justify-content: center;
  margin: 15rem auto;
  width: 40rem;
  height: 400px;
  border-radius: 10px;
  background: #ffffff;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.registers-button {
    margin: 2rem;
  cursor: pointer;
}