@import "../styles/scss/variables.scss";

.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top: 70px;
}
.register-container {
  display: flex;
  justify-content: center;
  width: 25rem;
  height: 500px;
  border-radius: 6px;
  background: white;
  padding: 30px 45px;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.registers-button {
  margin: 2rem;
  cursor: pointer;
  border: 1px solid #27224a;
  color: #27224a;
  outline: none;
  width: 10rem;
  height: 3rem;
  text-align: center;
  background: white;
  border-radius: 25px;
  font-size: 15px;
  outline: none;
}

.registers-button:hover {
  cursor: pointer;
  background: #27224a;
  color: white;
}
.input-text {
  outline: none;
  width: 15rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(82, 80, 80);
}

.login-reminder {
  color: #575987;
  font-size: 16px;
}
.login-reminder:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fc4463;
}
