@import "./../../styles/scss/variables.scss";

// Home page styling
.login-button,
.register-button {
  width: $button-width;
  height: $button-height;
  font-weight: $font-weight;
  color: $button-font-color;
  border-radius: 25px;
  border: none;
  color: #27224a;
  cursor: pointer;
  border: 1px solid #27224a;
  background: white;
  outline: none;
}

.login-button:hover,
.register-button:hover {
  cursor: pointer;
  background: #27224a;
  color: white;
}


.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  padding: 80px 0px 100px 0px;
}


.register-head {
  text-align: center;
}
.register-message {
  padding-top: 5rem;
  text-align: center;
  color: #575987;
  font-weight: 700;
}


.home-footer p {
  text-align: center;
}

.terms-conditions{
  font-size: 20px;
  line-height: 20px;
}